::-moz-selection { /* Code for Firefox */
  transition: all ease-in-out delay-150;
  color: var(--line-low-contrast);
  background-color: var(--line-ui-active-background);
}

::selection {
  transition: all ease-in-out delay-150;
  color: var(--line-low-contrast);
  background-color: var(--line-ui-active-background);
}

.is-background {
  background-color: var(--line-background);
}

.is-subtle-background {
  background-color: var(--line-subtle-background);
}

.is-ui-background {
  transition: colors ease-in-out delay-150;
  background-color: var(--line-ui-background);
}

.is-hover-background {
  background-color: var(--line-ui-hover-background);
}

.is-active-background {
  background-color: var(--line-ui-active-background);
}

.is-subtle-border {
  border-color: var(--line-subtle-border);
  outline-color: var(--line-subtle-border);
}

.is-ui-border {
  transition: colors ease-in-out delay-150;
  border-color: var(--line-ui-border);
  outline-color: var(--line-ui-border);
}

.is-ui-hover {
  border-color: var(--line-ui-border-hover);
  outline-color: var(--line-ui-border-hover);
}

.is-solid-background {
  transition:colors ease-in-out delay-150;
  background-color: var(--line-solid-background);
}

.is-hover-solid {
  background-color: var(--line-solid-hover);
}

.is-low-contrast {
  color: var(--line-low-contrast);
}

.is-high-contrast {
  color: var(--line-high-contrast);
}

.is-light {
  color: var(--line-light);
}

.is-dark {
  color: var(--line-dark);
}

.is-white {
  color: var(--line-white);
}

.is-black {
  color: var(--line-black);
}

.carousel {
  display: flex;

  &-container {
    scroll-snap-type: x mandatory;
  }

  &-slides {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

.is-tiny {
  height: 1rem;
  font-size: .6rem;
  padding: 0.1rem;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.shadown-current-color {
  box-shadow: 0 1px 2px color-mix(in srgb, transparent 35%, currentColor);
}

.tabular-numbers {
  font-variant-numeric: tabular-nums;
}
