:where(::-moz-selection) {
  color: var(--line-low-contrast);
  background-color: var(--line-ui-active-background);
}

:where(::selection) {
  color: var(--line-low-contrast);
  background-color: var(--line-ui-active-background);
}

:where(.line-is-background) {
  background-color: var(--line-background);
}

:where(.line-is-subtle-background) {
  background-color: var(--line-subtle-background);
}

:where(.line-is-ui-background) {
  background-color: var(--line-ui-background);
}

:where(.line-is-ui-hover-background) {
  background-color: var(--line-ui-hover-background);
}

:where(.line-is-ui-active-background) {
  background-color: var(--line-ui-active-background);
}

:where(.line-is-subtle-border) {
  border-color: var(--line-subtle-border);
  outline-color: var(--line-subtle-border);
}

:where(.line-is-ui-border) {
  border-color: var(--line-ui-border);
  outline-color: var(--line-ui-border);
}

:where(.line-is-ui-border-hover) {
  border-color: var(--line-ui-border-hover);
  outline-color: var(--line-ui-border-hover);
}

:where(.line-is-solid-background) {
  background-color: var(--line-solid-background);
}

:where(.line-is-solid-text) {
  color: var(--line-solid-text);
}

:where(.line-is-solid-hover-background) {
  background-color: var(--line-solid-hover);
}

:where(.line-is-low-contrast) {
  color: var(--line-low-contrast);
}

:where(.line-is-high-contrast) {
  color: var(--line-high-contrast);
}

:where(.line-is-light) {
  color: var(--line-light);
}

:where(.line-is-dark) {
  color: var(--line-dark);
}

:where(.line-is-white) {
  color: var(--line-white);
}

:where(.line-is-black) {
  color: var(--line-black);
}
