:where(html) {
  --line-bronze-1: light-dark(hsl(15, 30.0%, 99.1%), hsl(22, 35.0%, 89.0%));
  --line-bronze-2: light-dark(hsl(17, 63.6%, 97.8%), hsl(18, 35.0%, 74.0%));
  --line-bronze-3: light-dark(hsl(17, 42.1%, 95.2%), hsl(18, 23.6%, 60.8%));
  --line-bronze-4: light-dark(hsl(17, 35.2%, 92.1%), hsl(17, 20.0%, 54.0%));
  --line-bronze-5: light-dark(hsl(17, 31.5%, 88.2%), hsl(18, 16.0%, 47.6%));
  --line-bronze-6: light-dark(hsl(17, 29.0%, 83.0%), hsl(17, 14.7%, 31.9%));
  --line-bronze-7: light-dark(hsl(17, 26.9%, 75.6%), hsl(16, 13.4%, 24.1%));
  --line-bronze-8: light-dark(hsl(17, 25.1%, 66.5%), hsl(16, 12.4%, 19.7%));
  --line-bronze-9: light-dark(hsl(17, 20.0%, 54.0%), hsl(16, 11.5%, 16.8%));
  --line-bronze-10: light-dark(hsl(17, 17.9%, 49.3%), hsl(15, 10.2%, 13.9%));
  --line-bronze-11: light-dark(hsl(15, 20.0%, 41.0%), hsl(15, 7.7%, 10.2%));
  --line-bronze-12: light-dark(hsl(12, 22.0%, 21.5%), hsl(17, 10.0%, 8.8%));
  --line-bronze-contrast: #000;
}
