:where(html) {
  --line-green-1: light-dark(hsl(136, 50.0%, 98.9%), hsl(144, 70.0%, 82.0%));
  --line-green-2: light-dark(hsl(138, 62.5%, 96.9%), hsl(151, 65.0%, 54.0%));
  --line-green-3: light-dark(hsl(139, 55.2%, 94.5%), hsl(151, 55.2%, 46.7%));
  --line-green-4: light-dark(hsl(140, 48.7%, 91.0%), hsl(151, 55.0%, 41.5%));
  --line-green-5: light-dark(hsl(141, 43.7%, 86.0%), hsl(151, 52.2%, 36.1%));
  --line-green-6: light-dark(hsl(143, 40.3%, 79.0%), hsl(153, 50.3%, 24.4%));
  --line-green-7: light-dark(hsl(146, 38.5%, 69.0%), hsl(154, 46.7%, 18.7%));
  --line-green-8: light-dark(hsl(151, 40.2%, 54.1%), hsl(154, 43.7%, 15.7%));
  --line-green-9: light-dark(hsl(151, 55.0%, 41.5%), hsl(154, 41.0%, 13.6%));
  --line-green-10: light-dark(hsl(152, 57.5%, 37.6%), hsl(154, 37.6%, 11.5%));
  --line-green-11: light-dark(hsl(153, 67.0%, 28.5%), hsl(154, 31.8%, 8.6%));
  --line-green-12: light-dark(hsl(155, 40.0%, 16.5%), hsl(146, 30.0%, 7.4%));
  --line-green-contrast: #000;
}
