:where(html) {
  --line-slate-1: light-dark(hsl(240, 22.0%, 99.0%), hsl(220, 7.0%, 93.5%));
  --line-slate-2: light-dark(hsl(240, 20.0%, 98.0%), hsl(220, 7.0%, 70.0%));
  --line-slate-3: light-dark(hsl(239, 13.4%, 95.4%), hsl(218, 5.3%, 51.5%));
  --line-slate-4: light-dark(hsl(238, 11.8%, 92.9%), hsl(220, 6.0%, 44.0%));
  --line-slate-5: light-dark(hsl(237, 11.1%, 90.5%), hsl(202, 5.8%, 37.5%));
  --line-slate-6: light-dark(hsl(236, 10.6%, 87.9%), hsl(209, 6.2%, 29.4%));
  --line-slate-7: light-dark(hsl(234, 10.4%, 84.4%), hsl(214, 6.4%, 25.1%));
  --line-slate-8: light-dark(hsl(231, 10.2%, 75.1%), hsl(218, 6.5%, 22.1%));
  --line-slate-9: light-dark(hsl(230, 6.0%, 57.0%), hsl(222, 6.6%, 19.4%));
  --line-slate-10: light-dark(hsl(227, 5.2%, 51.8%), hsl(227, 6.7%, 16.4%));
  --line-slate-11: light-dark(hsl(220, 6.0%, 40.0%), hsl(240, 6.9%, 11.4%));
  --line-slate-12: light-dark(hsl(210, 12.0%, 12.5%), hsl(240, 5.0%, 9.8%));
  --line-slate-contrast: light-dark(#000, #fff);
}
