:where(.line-schema-blue) {
  --line-background: light-dark(var(--line-blue-1), var(--line-blue-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-blue-2), var(--line-blue-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-blue-3), var(--line-blue-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(
    var(--line-blue-4),
    var(--line-blue-9)
  ); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-blue-5),
    var(--line-blue-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-blue-6), var(--line-blue-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-blue-7), var(--line-blue-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-blue-8), var(--line-blue-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-blue-9), var(--line-blue-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-blue-10), var(--line-blue-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-blue-11), var(--line-blue-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-blue-12), var(--line-blue-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-blue-1), var(--line-blue-12)); /* Light text */
  --line-white: var(--line-blue-1); /* White text */
  --line-black: var(--line-blue-12); /* Black text */
  --line-dark: light-dark(var(--line-blue-12), var(--line-blue-1)); /* Dark text */
  --line-solid-text: var(--line-blue-contrast); /* Solid background text */
}

:where(.line-is-blue) {
  color: var(--line-blue-contrast);
  background-color: light-dark(var(--line-blue-9), var(--line-blue-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-blue-10), var(--line-blue-3));
  }
}

:where(.line-is-blue-color) {
  color: light-dark(var(--line-blue-12), var(--line-blue-1));
}

:where(.line-is-blue-low-contrast) {
  color: light-dark(var(--line-blue-11), var(--line-blue-2));
}

:where(.line-is-blue-high-contrast) {
  color: light-dark(var(--line-blue-12), var(--line-blue-1));
}

:where(.line-is-blue-background) {
  background-color: light-dark(var(--line-blue-1), var(--line-blue-12));
}

:where(.line-is-blue-subtle-background) {
  background-color: light-dark(var(--line-blue-2), var(--line-blue-11));
}

:where(.line-is-blue-ui-background) {
  background-color: light-dark(var(--line-blue-3), var(--line-blue-10));

  &:hover {
    background-color: light-dark(var(--line-blue-4), var(--line-blue-9));
  }
}

:where(.line-is-blue-ui-hover-background) {
  background-color: light-dark(var(--line-blue-4), var(--line-blue-9));
}

:where(.line-is-blue-ui-active-background) {
  background-color: light-dark(var(--line-blue-5), var(--line-blue-8));
}

:where(.line-is-blue-subtle-element-background) {
  background-color: light-dark(var(--line-blue-6), var(--line-blue-7));
}

:where(.line-is-blue-ui-element-background) {
  background-color: light-dark(var(--line-blue-7), var(--line-blue-6));
}

:where(.line-is-blue-ui-border-hover-background) {
  background-color: light-dark(var(--line-blue-8), var(--line-blue-5));
}

:where(.line-is-blue-solid-background) {
  background-color: light-dark(var(--line-blue-9), var(--line-blue-4));
}

:where(.line-is-blue-hover-solid-background) {
  background-color: light-dark(var(--line-blue-10), var(--line-blue-3));
}

:where(.line-is-blue-low-contrast-background) {
  background-color: light-dark(var(--line-blue-11), var(--line-blue-2));
}

:where(.line-is-blue-high-contrast-background) {
  background-color: light-dark(var(--line-blue-12), var(--line-blue-1));
}

:where(.line-is-blue-border) {
  outline-color: light-dark(var(--line-blue-7), var(--line-blue-6));
  border-color: light-dark(var(--line-blue-7), var(--line-blue-6));

  &:hover {
    outline-color: light-dark(var(--line-blue-8), var(--line-blue-5));
    border-color: light-dark(var(--line-blue-8), var(--line-blue-5));
  }
}
