:where(.line-schema-brown) {
  --line-background: var(--line-brown-1); /* App background (-1) */
  --line-subtle-background: var(--line-brown-2); /* Subtle background (-2) */
  --line-ui-background: var(--line-brown-3); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-brown-4); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-brown-5); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-brown-6); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-brown-7); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-brown-8); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-brown-9); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-brown-10); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-brown-11); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-brown-12); /* High-contrast text (-12) */
  --line-light: var(--line-brown-1); /* Light text */
  --line-dark: var(--line-brown-12); /* Dark text */
  --line-solid-text: var(--line-brown-contrast); /* Solid background text */
}

:is(.dark) :where(.line-schema-brown) {
  --line-background: var(--line-brown-12); /* App background (-1) */
  --line-subtle-background: var(--line-brown-11); /* Subtle background (-2) */
  --line-ui-background: var(--line-brown-10); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-brown-9); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-brown-8); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-brown-7); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-brown-6); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-brown-5); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-brown-4); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-brown-3); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-brown-2); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-brown-1); /* High-contrast text (-12) */
  --line-solid-text: var(--line-brown-contrast); /* Solid background text */
}

:where(.line-is-brown) {
  color: var(--line-brown-contrast);
  background-color: var(--line-brown-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-brown-10);
  }
}

:is(.dark) :where(.line-is-brown) {
  color: var(--line-brown-contrast);
  background-color: var(--line-brown-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-brown-3);
  }
}

:where(.line-is-brown-color) {
  color: var(--line-brown-12);
}

:is(.dark) :where(.line-is-brown-color) {
  color: var(--line-brown-1);
}

:where(.line-is-brown-low-contrast) {
  color: var(--line-brown-11);
}

:is(.dark) :where(.line-is-brown-low-contrast) {
  color: var(--line-brown-2);
}

:where(.line-is-brown-high-contrast) {
  color: var(--line-brown-12);
}

:is(.dark) :where(.line-is-brown-high-contrast) {
  color: var(--line-brown-1);
}

:where(.line-is-brown-background) {
  background-color: var(--line-brown-1);
}

:is(.dark) :where(.line-is-brown-background) {
  background-color: var(--line-brown-12);
}

:where(.line-is-brown-subtle-background) {
  background-color: var(--line-brown-2);
}

:is(.dark) :where(.line-is-brown-subtle-background) {
  background-color: var(--line-brown-11);
}

:where(.line-is-brown-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-brown-3);

  &:hover {
    background-color: var(--line-brown-4);
  }
}

:is(.dark) :where(.line-is-brown-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-brown-10);

  &:hover {
    background-color: var(--line-brown-9);
  }
}

:where(.line-is-brown-ui-hover-background) {
  background-color: var(--line-brown-4);
}

:is(.dark) :where(.line-is-brown-ui-hover-background) {
  background-color: var(--line-brown-9);
}

:where(.line-is-brown-ui-active-background) {
  background-color: var(--line-brown-5);
}

:is(.dark) :where(.line-is-brown-ui-active-background) {
  background-color: var(--line-brown-8);
}

:where(.line-is-brown-subtle-element-background) {
  background-color: var(--line-brown-6);
}

:is(.dark) :where(.line-is-brown-subtle-element-background) {
  background-color: var(--line-brown-7);
}

:where(.line-is-brown-ui-element-background) {
  background-color: var(--line-brown-7);
}

:is(.dark) :where(.line-is-brown-ui-element-background) {
  background-color: var(--line-brown-6);
}

:where(.line-is-brown-ui-hover-background) {
  background-color: var(--line-brown-8);
}

:is(.dark) :where(.line-is-brown-ui-hover-background) {
  background-color: var(--line-brown-5);
}

:where(.line-is-brown-solid-background) {
  background-color: var(--line-brown-9);
}

:is(.dark) :where(.line-is-brown-solid-background) {
  background-color: var(--line-brown-4);
}

:where(.line-is-brown-hover-solid-background) {
  background-color: var(--line-brown-10);
}

:is(.dark) :where(.line-is-brown-hover-solid-background) {
  background-color: var(--line-brown-3);
}

:where(.line-is-brown-low-contrast-background) {
  background-color: var(--line-brown-11);
}

:is(.dark) :where(.line-is-brown-low-contrast-background) {
  background-color: var(--line-brown-2);
}

:where(.line-is-brown-high-contrast-background) {
  background-color: var(--line-brown-12);
}

:is(.dark) :where(.line-is-brown-high-contrast-background) {
  background-color: var(--line-brown-1);
}

:where(.line-is-brown-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-brown-7);
  border-color: var(--line-brown-7);

  &:hover {
    outline-color: var(--line-brown-8);
    border-color: var(--line-brown-8);
  }
}

:is(.dark) :where(.line-is-brown-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-brown-6);
  border-color: var(--line-brown-6);

  &:hover {
    outline-color: var(--line-brown-5);
    border-color: var(--line-brown-5);
  }
}
