:where(.schema-crimson) {
  --background: var(--line-crimson-1);            /* App background (-1) */
  --subtle-background: var(--line-crimson-2);     /* Subtle background (-2) */
  --ui-background: var(--line-crimson-3);         /* UI element background (-3) */
  --ui-hover-background: var(--line-crimson-4);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--line-crimson-5);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--line-crimson-6);         /* Subtle borders and separators (-6) */
  --ui-border: var(--line-crimson-7);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--line-crimson-8);       /* Hovered UI element border (-8) */
  --solid-background: var(--line-crimson-9);      /* Solid backgrounds (-9) */
  --solid-hover: var(--line-crimson-10);          /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--line-crimson-11);         /* Low-contrast text (-11) */
  --high-contrast: var(--line-crimson-12);        /* High-contrast text (-12) */
  --light: var(--line-crimson-1);                 /* Light text */
  --dark: var(--line-crimson-12);                 /* Dark text */
}

:is(.dark) :where(.schema-crimson)  {
  --background: var(--line-crimson-12);           /* App background (-1) */
  --subtle-background: var(--line-crimson-11);    /* Subtle background (-2) */
  --ui-background: var(--line-crimson-10);        /* UI element background (-3) */
  --ui-hover-background: var(--line-crimson-9);   /* Hovered UI element background  (-4)*/
  --ui-active-background: var(--line-crimson-8);  /* Active / Selected UI element background (-5) */
  --subtle-border: var(--line-crimson-7);         /* Subtle borders and separators (-6) */
  --ui-border: var(--line-crimson-6);             /* UI element border and focus rings (-7) */
  --ui-border-hover: var(--line-crimson-5);       /* Hovered UI element border (-8) */
  --solid-background: var(--line-crimson-4);      /* Solid backgrounds (-9) */
  --solid-hover: var(--line-crimson-3);           /* Hovered solid backgrounds (-10) */
  --low-contrast: var(--line-crimson-2);          /* Low-contrast text (-11) */
  --high-contrast: var(--line-crimson-1);         /* High-contrast text (-12) */
}

:where(.is-crimson) {
  color: var(--line-crimson-1);
  background-color: var(--line-crimson-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-crimson-10);
  }
}

:is(.dark) :where(.is-crimson) {
  color: var(--line-crimson-1);
  background-color: var(--line-crimson-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-crimson-3);
  }
}

:where(.is-crimson-color) {
  color: var(--line-crimson-12);
}

:is(:dark) :where(.is-crimson-color) {
  color: var(--line-crimson-1);
}

:where(.is-crimson-low-contrast) {
  color: var(--line-crimson-11);
}

:is(.dark) :where(.is-crimson-low-contrast) {
  color: var(--line-crimson-2);
}

:where(.is-crimson-high-contrast) {
  color: var(--line-crimson-12);
}

:is(.dark) :where(.is-crimson-high-contrast) {
  color: var(--line-crimson-1);
}

:where(.is-crimson-background) {
  background-color: var(--line-crimson-1);
}

:is(.dark) :where(.is-crimson-background) {
  background-color: var(--line-crimson-12);
}

:where(.is-crimson-subtle-background) {
  background-color: var(--line-crimson-2);
}

:is(.dark) :where(.is-crimson-subtle-background) {
  background-color: var(--line-crimson-11);
}

:where(.is-crimson-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-crimson-3);

  &:hover {
    background-color: var(--line-crimson-4);
  }
}

:is(.dark) :where(.is-crimson-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-crimson-10);

  &:hover {
    background-color: var(--line-crimson-9);
  }
}

:where(.is-crimson-ui-hover-background) {
  background-color: var(--line-crimson-4);
}

:is(.dark) :where(.is-crimson-ui-hover-background) {
  background-color: var(--line-crimson-9);
}

:where(.is-crimson-ui-active-background) {
  background-color: var(--line-crimson-5);
}

:is(.dark) :where(.is-crimson-ui-active-background) {
  background-color: var(--line-crimson-8);
}

:where(.is-crimson-subtle-element-background) {
  background-color: var(--line-crimson-6);
}

:is(.dark) :where(.is-crimson-subtle-element-background) {
  background-color: var(--line-crimson-7);
}

:where(.is-crimson-ui-element-background) {
  background-color: var(--line-crimson-7);
}

:is(.dark) :where(.is-crimson-ui-element-background) {
  background-color: var(--line-crimson-6);
}

:where(.is-crimson-ui-hover-background) {
  background-color: var(--line-crimson-8);
}

:is(.dark) :where(.is-crimson-ui-hover-background) {
  background-color: var(--line-crimson-5);
}

:where(.is-crimson-solid-background) {
  background-color: var(--line-crimson-9);
}

:is(.dark) :where(.is-crimson-solid-background) {
  background-color: var(--line-crimson-4);
}

:where(.is-crimson-hover-solid-background) {
  background-color: var(--line-crimson-10);
}

:is(.dark) :where(.is-crimson-hover-solid-background) {
  background-color: var(--line-crimson-3);
}

:where(.is-crimson-low-contrast-background) {
  background-color: var(--line-crimson-11);
}

:is(.dark) :where(.is-crimson-low-contrast-background) {
  background-color: var(--line-crimson-2);
}

:where(.is-crimson-high-contrast-background) {
  background-color: var(--line-crimson-12);
}

:is(.dark) :where(.is-crimson-high-contrast-background) {
  background-color: var(--line-crimson-1);
}

:where(.is-crimson-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-crimson-7);
  border-color: var(--line-crimson-7);

  &:hover {
    outline-color: var(--line-crimson-8);
    border-color: var(--line-crimson-8);
  }
}

:is(.dark) :where(.is-crimson-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-crimson-6);
  border-color: var(--line-crimson-6);

  &:hover {
    outline-color: var(--line-crimson-5);
    border-color: var(--line-crimson-5);
  }
}
