:where(.line-schema-cyan) {
  --line-background: var(--line-cyan-1); /* App background (-1) */
  --line-subtle-background: var(--line-cyan-2); /* Subtle background (-2) */
  --line-ui-background: var(--line-cyan-3); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-cyan-4); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-cyan-5); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-cyan-6); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-cyan-7); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-cyan-8); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-cyan-9); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-cyan-10); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-cyan-11); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-cyan-12); /* High-contrast text (-12) */
  --line-light: var(--line-cyan-1); /* Light text */
  --line-white: var(--line-cyan-1); /* White text */
  --line-black: var(--line-cyan-12); /* Black text */
  --line-dark: var(--line-cyan-12); /* Dark text */
  --line-solid-text: var(--line-cyan-contrast); /* Solid background text */
}

:is(.dark) :where(.line-schema-cyan) {
  --line-background: var(--line-cyan-12); /* App background (-1) */
  --line-subtle-background: var(--line-cyan-11); /* Subtle background (-2) */
  --line-ui-background: var(--line-cyan-10); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-cyan-9); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-cyan-8); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-cyan-7); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-cyan-6); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-cyan-5); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-cyan-4); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-cyan-3); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-cyan-2); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-cyan-1); /* High-contrast text (-12) */
  --line-light: var(--line-cyan-12); /* Light text */
  --line-white: var(--line-cyan-1); /* White text */
  --line-black: var(--line-cyan-12); /* Black text */
  --line-dark: var(--line-cyan-1); /* Dark text */
  --line-solid-text: var(--line-cyan-contrast); /* Solid background text */
}

:where(.line-is-cyan) {
  color: var(--line-cyan-contrast);
  background-color: var(--line-cyan-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-cyan-10);
  }
}

:is(.dark) :where(.line-is-cyan) {
  color: var(--line-cyan-contrast);
  background-color: var(--line-cyan-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-cyan-3);
  }
}

:where(.line-is-cyan-color) {
  color: var(--line-cyan-12);
}

:is(.dark) :where(.line-is-cyan-color) {
  color: var(--line-cyan-1);
}

:where(.line-is-cyan-low-contrast) {
  color: var(--line-cyan-11);
}

:is(.dark) :where(.line-is-cyan-low-contrast) {
  color: var(--line-cyan-2);
}

:where(.line-is-cyan-high-contrast) {
  color: var(--line-cyan-12);
}

:is(.dark) :where(.line-is-cyan-high-contrast) {
  color: var(--line-cyan-1);
}

:where(.line-is-cyan-background) {
  background-color: var(--line-cyan-1);
}

:is(.dark) :where(.line-is-cyan-background) {
  background-color: var(--line-cyan-12);
}

:where(.line-is-cyan-subtle-background) {
  background-color: var(--line-cyan-2);
}

:is(.dark) :where(.line-is-cyan-subtle-background) {
  background-color: var(--line-cyan-11);
}

:where(.line-is-cyan-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-cyan-3);

  &:hover {
    background-color: var(--line-cyan-4);
  }
}

:is(.dark) :where(.line-is-cyan-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-cyan-10);

  &:hover {
    background-color: var(--line-cyan-9);
  }
}

:where(.line-is-cyan-ui-hover-background) {
  background-color: var(--line-cyan-4);
}

:is(.dark) :where(.line-is-cyan-ui-hover-background) {
  background-color: var(--line-cyan-9);
}

:where(.line-is-cyan-ui-active-background) {
  background-color: var(--line-cyan-5);
}

:is(.dark) :where(.line-is-cyan-ui-active-background) {
  background-color: var(--line-cyan-8);
}

:where(.line-is-cyan-subtle-element-background) {
  background-color: var(--line-cyan-6);
}

:is(.dark) :where(.line-is-cyan-subtle-element-background) {
  background-color: var(--line-cyan-7);
}

:where(.line-is-cyan-ui-element-background) {
  background-color: var(--line-cyan-7);
}

:is(.dark) :where(.line-is-cyan-ui-element-background) {
  background-color: var(--line-cyan-6);
}

:where(.line-is-cyan-ui-hover-background) {
  background-color: var(--line-cyan-8);
}

:is(.dark) :where(.line-is-cyan-ui-hover-background) {
  background-color: var(--line-cyan-5);
}

:where(.line-is-cyan-solid-background) {
  background-color: var(--line-cyan-9);
}

:is(.dark) :where(.line-is-cyan-solid-background) {
  background-color: var(--line-cyan-4);
}

:where(.line-is-cyan-hover-solid-background) {
  background-color: var(--line-cyan-10);
}

:is(.dark) :where(.line-is-cyan-hover-solid-background) {
  background-color: var(--line-cyan-3);
}

:where(.line-is-cyan-low-contrast-background) {
  background-color: var(--line-cyan-11);
}

:is(.dark) :where(.line-is-cyan-low-contrast-background) {
  background-color: var(--line-cyan-2);
}

:where(.line-is-cyan-high-contrast-background) {
  background-color: var(--line-cyan-12);
}

:is(.dark) :where(.line-is-cyan-high-contrast-background) {
  background-color: var(--line-cyan-1);
}

:where(.line-is-cyan-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-cyan-7);
  border-color: var(--line-cyan-7);

  &:hover {
    outline-color: var(--line-cyan-8);
    border-color: var(--line-cyan-8);
  }
}

:is(.dark) :where(.line-is-cyan-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-cyan-6);
  border-color: var(--line-cyan-6);

  &:hover {
    outline-color: var(--line-cyan-5);
    border-color: var(--line-cyan-5);
  }
}
