:where(.line-schema-gold) {
  --line-background: light-dark(var(--line-gold-1), var(--line-gold-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-gold-2), var(--line-gold-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-gold-3), var(--line-gold-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(
    var(--line-gold-4),
    var(--line-gold-9)
  ); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-gold-5),
    var(--line-gold-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-gold-6), var(--line-gold-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-gold-7), var(--line-gold-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-gold-8), var(--line-gold-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-gold-9), var(--line-gold-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-gold-10), var(--line-gold-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-gold-11), var(--line-gold-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-gold-12), var(--line-gold-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-gold-1), var(--line-gold-12)); /* Light text */
  --line-white: var(--line-gold-1); /* White text */
  --line-black: var(--line-gold-12); /* Black text */
  --line-dark: light-dark(var(--line-gold-12), var(--line-gold-1)); /* Dark text */
  --line-solid-text: var(--line-gold-contrast); /* Solid background text */
}

:where(.line-is-gold) {
  color: var(--line-gold-contrast);
  background-color: light-dark(var(--line-gold-9), var(--line-gold-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-gold-10), var(--line-gold-3));
  }
}

:where(.line-is-gold-color) {
  color: light-dark(var(--line-gold-12), var(--line-gold-1));
}

:where(.line-is-gold-low-contrast) {
  color: light-dark(var(--line-gold-11), var(--line-gold-2));
}

:where(.line-is-gold-high-contrast) {
  color: light-dark(var(--line-gold-12), var(--line-gold-1));
}

:where(.line-is-gold-background) {
  background-color: light-dark(var(--line-gold-1), var(--line-gold-12));
}

:where(.line-is-gold-subtle-background) {
  background-color: light-dark(var(--line-gold-2), var(--line-gold-11));
}

:where(.line-is-gold-ui-background) {
  background-color: light-dark(var(--line-gold-3), var(--line-gold-10));

  &:hover {
    background-color: light-dark(var(--line-gold-4), var(--line-gold-9));
  }
}

:where(.line-is-gold-ui-hover-background) {
  background-color: light-dark(var(--line-gold-4), var(--line-gold-9));
}

:where(.line-is-gold-ui-active-background) {
  background-color: light-dark(var(--line-gold-5), var(--line-gold-8));
}

:where(.line-is-gold-subtle-element-background) {
  background-color: light-dark(var(--line-gold-6), var(--line-gold-7));
}

:where(.line-is-gold-ui-element-background) {
  background-color: light-dark(var(--line-gold-7), var(--line-gold-6));
}

:where(.line-is-gold-ui-border-hover-background) {
  background-color: light-dark(var(--line-gold-8), var(--line-gold-5));
}

:where(.line-is-gold-solid-background) {
  background-color: light-dark(var(--line-gold-9), var(--line-gold-4));
}

:where(.line-is-gold-hover-solid-background) {
  background-color: light-dark(var(--line-gold-10), var(--line-gold-3));
}

:where(.line-is-gold-low-contrast-background) {
  background-color: light-dark(var(--line-gold-11), var(--line-gold-2));
}

:where(.line-is-gold-high-contrast-background) {
  background-color: light-dark(var(--line-gold-12), var(--line-gold-1));
}

:where(.line-is-gold-border) {
  outline-color: light-dark(var(--line-gold-7), var(--line-gold-6));
  border-color: light-dark(var(--line-gold-7), var(--line-gold-6));

  &:hover {
    outline-color: light-dark(var(--line-gold-8), var(--line-gold-5));
    border-color: light-dark(var(--line-gold-8), var(--line-gold-5));
  }
}
