:where(.line-schema-lime) {
  --line-background: light-dark(var(--line-lime-1), var(--line-lime-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-lime-2), var(--line-lime-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-lime-3), var(--line-lime-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(
    var(--line-lime-4),
    var(--line-lime-9)
  ); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-lime-5),
    var(--line-lime-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-lime-6), var(--line-lime-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-lime-7), var(--line-lime-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-lime-8), var(--line-lime-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-lime-9), var(--line-lime-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-lime-10), var(--line-lime-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-lime-11), var(--line-lime-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-lime-12), var(--line-lime-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-lime-1), var(--line-lime-12)); /* Light text */
  --line-white: var(--line-lime-1); /* White text */
  --line-black: var(--line-lime-12); /* Black text */
  --line-dark: light-dark(var(--line-lime-12), var(--line-lime-1)); /* Dark text */
  --line-solid-text: var(--line-lime-contrast); /* Solid background text */
}

:where(.line-is-lime) {
  color: var(--line-lime-contrast);
  background-color: light-dark(var(--line-lime-9), var(--line-lime-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-lime-10), var(--line-lime-3));
  }
}

:where(.line-is-lime-color) {
  color: light-dark(var(--line-lime-12), var(--line-lime-1));
}

:where(.line-is-lime-low-contrast) {
  color: light-dark(var(--line-lime-11), var(--line-lime-2));
}

:where(.line-is-lime-high-contrast) {
  color: light-dark(var(--line-lime-12), var(--line-lime-1));
}

:where(.line-is-lime-background) {
  background-color: light-dark(var(--line-lime-1), var(--line-lime-12));
}

:where(.line-is-lime-subtle-background) {
  background-color: light-dark(var(--line-lime-2), var(--line-lime-11));
}

:where(.line-is-lime-ui-background) {
  background-color: light-dark(var(--line-lime-3), var(--line-lime-10));

  &:hover {
    background-color: light-dark(var(--line-lime-4), var(--line-lime-9));
  }
}

:where(.line-is-lime-ui-hover-background) {
  background-color: light-dark(var(--line-lime-4), var(--line-lime-9));
}

:where(.line-is-lime-ui-active-background) {
  background-color: light-dark(var(--line-lime-5), var(--line-lime-8));
}

:where(.line-is-lime-subtle-element-background) {
  background-color: light-dark(var(--line-lime-6), var(--line-lime-7));
}

:where(.line-is-lime-ui-element-background) {
  background-color: light-dark(var(--line-lime-7), var(--line-lime-6));
}

:where(.line-is-lime-ui-border-hover-background) {
  background-color: light-dark(var(--line-lime-8), var(--line-lime-5));
}

:where(.line-is-lime-solid-background) {
  background-color: light-dark(var(--line-lime-9), var(--line-lime-4));
}

:where(.line-is-lime-hover-solid-background) {
  background-color: light-dark(var(--line-lime-10), var(--line-lime-3));
}

:where(.line-is-lime-low-contrast-background) {
  background-color: light-dark(var(--line-lime-11), var(--line-lime-2));
}

:where(.line-is-lime-high-contrast-background) {
  background-color: light-dark(var(--line-lime-12), var(--line-lime-1));
}

:where(.line-is-lime-border) {
  outline-color: light-dark(var(--line-lime-7), var(--line-lime-6));
  border-color: light-dark(var(--line-lime-7), var(--line-lime-6));

  &:hover {
    outline-color: light-dark(var(--line-lime-8), var(--line-lime-5));
    border-color: light-dark(var(--line-lime-8), var(--line-lime-5));
  }
}
