:where(.line-schema-mint) {
  --line-background: var(--line-mint-1); /* App background (-1) */
  --line-subtle-background: var(--line-mint-2); /* Subtle background (-2) */
  --line-ui-background: var(--line-mint-3); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-mint-4); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-mint-5); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-mint-6); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-mint-7); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-mint-8); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-mint-9); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-mint-10); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-mint-11); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-mint-12); /* High-contrast text (-12) */
  --line-light: var(--line-mint-1); /* Light text */
  --line-white: var(--line-mint-1); /* White text */
  --line-black: var(--line-mint-12); /* Black text */
  --line-dark: var(--line-mint-12); /* Dark text */
  --line-solid-text: var(--line-mint-contrast); /* Solid background text */
}

:is(.dark) :where(.line-schema-mint) {
  --line-background: var(--line-mint-12); /* App background (-1) */
  --line-subtle-background: var(--line-mint-11); /* Subtle background (-2) */
  --line-ui-background: var(--line-mint-10); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-mint-9); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-mint-8); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-mint-7); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-mint-6); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-mint-5); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-mint-4); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-mint-3); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-mint-2); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-mint-1); /* High-contrast text (-12) */
  --line-light: var(--line-mint-12); /* Light text */
  --line-white: var(--line-mint-1); /* White text */
  --line-black: var(--line-mint-12); /* Black text */
  --line-dark: var(--line-mint-1); /* Dark text */
  --line-solid-text: var(--line-mint-contrast); /* Solid background text */
}

:where(.line-is-mint) {
  color: var(--line-mint-contrast);
  background-color: var(--line-mint-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-mint-10);
  }
}

:is(.dark) :where(.line-is-mint) {
  color: var(--line-mint-contrast);
  background-color: var(--line-mint-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-mint-3);
  }
}

:where(.line-is-mint-color) {
  color: var(--line-mint-12);
}

:is(.dark) :where(.line-is-mint-color) {
  color: var(--line-mint-1);
}

:where(.line-is-mint-low-contrast) {
  color: var(--line-mint-11);
}

:is(.dark) :where(.line-is-mint-low-contrast) {
  color: var(--line-mint-2);
}

:where(.line-is-mint-high-contrast) {
  color: var(--line-mint-12);
}

:is(.dark) :where(.line-is-mint-high-contrast) {
  color: var(--line-mint-1);
}

:where(.line-is-mint-background) {
  background-color: var(--line-mint-1);
}

:is(.dark) :where(.line-is-mint-background) {
  background-color: var(--line-mint-12);
}

:where(.line-is-mint-subtle-background) {
  background-color: var(--line-mint-2);
}

:is(.dark) :where(.line-is-mint-subtle-background) {
  background-color: var(--line-mint-11);
}

:where(.line-is-mint-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-mint-3);

  &:hover {
    background-color: var(--line-mint-4);
  }
}

:is(.dark) :where(.line-is-mint-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-mint-10);

  &:hover {
    background-color: var(--line-mint-9);
  }
}

:where(.line-is-mint-ui-hover-background) {
  background-color: var(--line-mint-4);
}

:is(.dark) :where(.line-is-mint-ui-hover-background) {
  background-color: var(--line-mint-9);
}

:where(.line-is-mint-ui-active-background) {
  background-color: var(--line-mint-5);
}

:is(.dark) :where(.line-is-mint-ui-active-background) {
  background-color: var(--line-mint-8);
}

:where(.line-is-mint-subtle-element-background) {
  background-color: var(--line-mint-6);
}

:is(.dark) :where(.line-is-mint-subtle-element-background) {
  background-color: var(--line-mint-7);
}

:where(.line-is-mint-ui-element-background) {
  background-color: var(--line-mint-7);
}

:is(.dark) :where(.line-is-mint-ui-element-background) {
  background-color: var(--line-mint-6);
}

:where(.line-is-mint-ui-hover-background) {
  background-color: var(--line-mint-8);
}

:is(.dark) :where(.line-is-mint-ui-hover-background) {
  background-color: var(--line-mint-5);
}

:where(.line-is-mint-solid-background) {
  background-color: var(--line-mint-9);
}

:is(.dark) :where(.line-is-mint-solid-background) {
  background-color: var(--line-mint-4);
}

:where(.line-is-mint-hover-solid-background) {
  background-color: var(--line-mint-10);
}

:is(.dark) :where(.line-is-mint-hover-solid-background) {
  background-color: var(--line-mint-3);
}

:where(.line-is-mint-low-contrast-background) {
  background-color: var(--line-mint-11);
}

:is(.dark) :where(.line-is-mint-low-contrast-background) {
  background-color: var(--line-mint-2);
}

:where(.line-is-mint-high-contrast-background) {
  background-color: var(--line-mint-12);
}

:is(.dark) :where(.line-is-mint-high-contrast-background) {
  background-color: var(--line-mint-1);
}

:where(.line-is-mint-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-mint-7);
  border-color: var(--line-mint-7);

  &:hover {
    outline-color: var(--line-mint-8);
    border-color: var(--line-mint-8);
  }
}

:is(.dark) :where(.line-is-mint-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-mint-6);
  border-color: var(--line-mint-6);

  &:hover {
    outline-color: var(--line-mint-5);
    border-color: var(--line-mint-5);
  }
}
