:where(.line-schema-plum) {
  --line-background: light-dark(var(--line-plum-1), var(--line-plum-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-plum-2), var(--line-plum-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-plum-3), var(--line-plum-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(
    var(--line-plum-4),
    var(--line-plum-9)
  ); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-plum-5),
    var(--line-plum-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-plum-6), var(--line-plum-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-plum-7), var(--line-plum-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-plum-8), var(--line-plum-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-plum-9), var(--line-plum-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-plum-10), var(--line-plum-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-plum-11), var(--line-plum-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-plum-12), var(--line-plum-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-plum-1), var(--line-plum-12)); /* Light text */
  --line-white: var(--line-plum-1); /* White text */
  --line-black: var(--line-plum-12); /* Black text */
  --line-dark: light-dark(var(--line-plum-12), var(--line-plum-1)); /* Dark text */
  --line-solid-text: var(--line-plum-contrast); /* Solid background text */
}

:where(.line-is-plum) {
  color: var(--line-plum-contrast);
  background-color: light-dark(var(--line-plum-9), var(--line-plum-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-plum-10), var(--line-plum-3));
  }
}

:where(.line-is-plum-color) {
  color: light-dark(var(--line-plum-12), var(--line-plum-1));
}

:where(.line-is-plum-low-contrast) {
  color: light-dark(var(--line-plum-11), var(--line-plum-2));
}

:where(.line-is-plum-high-contrast) {
  color: light-dark(var(--line-plum-12), var(--line-plum-1));
}

:where(.line-is-plum-background) {
  background-color: light-dark(var(--line-plum-1), var(--line-plum-12));
}

:where(.line-is-plum-subtle-background) {
  background-color: light-dark(var(--line-plum-2), var(--line-plum-11));
}

:where(.line-is-plum-ui-background) {
  background-color: light-dark(var(--line-plum-3), var(--line-plum-10));

  &:hover {
    background-color: light-dark(var(--line-plum-4), var(--line-plum-9));
  }
}

:where(.line-is-plum-ui-hover-background) {
  background-color: light-dark(var(--line-plum-4), var(--line-plum-9));
}

:where(.line-is-plum-ui-active-background) {
  background-color: light-dark(var(--line-plum-5), var(--line-plum-8));
}

:where(.line-is-plum-subtle-element-background) {
  background-color: light-dark(var(--line-plum-6), var(--line-plum-7));
}

:where(.line-is-plum-ui-element-background) {
  background-color: light-dark(var(--line-plum-7), var(--line-plum-6));
}

:where(.line-is-plum-ui-border-hover-background) {
  background-color: light-dark(var(--line-plum-8), var(--line-plum-5));
}

:where(.line-is-plum-solid-background) {
  background-color: light-dark(var(--line-plum-9), var(--line-plum-4));
}

:where(.line-is-plum-hover-solid-background) {
  background-color: light-dark(var(--line-plum-10), var(--line-plum-3));
}

:where(.line-is-plum-low-contrast-background) {
  background-color: light-dark(var(--line-plum-11), var(--line-plum-2));
}

:where(.line-is-plum-high-contrast-background) {
  background-color: light-dark(var(--line-plum-12), var(--line-plum-1));
}

:where(.line-is-plum-border) {
  outline-color: light-dark(var(--line-plum-7), var(--line-plum-6));
  border-color: light-dark(var(--line-plum-7), var(--line-plum-6));

  &:hover {
    outline-color: light-dark(var(--line-plum-8), var(--line-plum-5));
    border-color: light-dark(var(--line-plum-8), var(--line-plum-5));
  }
}
