:where(.line-schema-plum) {
  --line-background: var(--line-plum-1); /* App background (-1) */
  --line-subtle-background: var(--line-plum-2); /* Subtle background (-2) */
  --line-ui-background: var(--line-plum-3); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-plum-4); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-plum-5); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-plum-6); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-plum-7); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-plum-8); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-plum-9); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-plum-10); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-plum-11); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-plum-12); /* High-contrast text (-12) */
  --line-light: var(--line-plum-1); /* Light text */
  --line-white: var(--line-plum-1); /* White text */
  --line-black: var(--line-plum-12); /* Black text */
  --line-dark: var(--line-plum-12); /* Dark text */
  --line-solid-text: var(--line-plum-contrast); /* Solid background text */
}

:is(.dark) :where(.line-schema-plum) {
  --line-background: var(--line-plum-12); /* App background (-1) */
  --line-subtle-background: var(--line-plum-11); /* Subtle background (-2) */
  --line-ui-background: var(--line-plum-10); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-plum-9); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-plum-8); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-plum-7); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-plum-6); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-plum-5); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-plum-4); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-plum-3); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-plum-2); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-plum-1); /* High-contrast text (-12) */
  --line-light: var(--line-plum-12); /* Light text */
  --line-white: var(--line-plum-1); /* White text */
  --line-black: var(--line-plum-12); /* Black text */
  --line-dark: var(--line-plum-1); /* Dark text */
  --line-solid-text: var(--line-plum-contrast); /* Solid background text */
}

:where(.line-is-plum) {
  color: var(--line-plum-contrast);
  background-color: var(--line-plum-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-plum-10);
  }
}

:is(.dark) :where(.line-is-plum) {
  color: var(--line-plum-contrast);
  background-color: var(--line-plum-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-plum-3);
  }
}

:where(.line-is-plum-color) {
  color: var(--line-plum-12);
}

:is(.dark) :where(.line-is-plum-color) {
  color: var(--line-plum-1);
}

:where(.line-is-plum-low-contrast) {
  color: var(--line-plum-11);
}

:is(.dark) :where(.line-is-plum-low-contrast) {
  color: var(--line-plum-2);
}

:where(.line-is-plum-high-contrast) {
  color: var(--line-plum-12);
}

:is(.dark) :where(.line-is-plum-high-contrast) {
  color: var(--line-plum-1);
}

:where(.line-is-plum-background) {
  background-color: var(--line-plum-1);
}

:is(.dark) :where(.line-is-plum-background) {
  background-color: var(--line-plum-12);
}

:where(.line-is-plum-subtle-background) {
  background-color: var(--line-plum-2);
}

:is(.dark) :where(.line-is-plum-subtle-background) {
  background-color: var(--line-plum-11);
}

:where(.line-is-plum-ui-background) {
  background-color: var(--line-plum-3);

  &:hover {
    background-color: var(--line-plum-4);
  }
}

:is(.dark) :where(.line-is-plum-ui-background) {
  background-color: var(--line-plum-10);

  &:hover {
    background-color: var(--line-plum-9);
  }
}

:where(.line-is-plum-ui-hover-background) {
  background-color: var(--line-plum-4);
}

:is(.dark) :where(.line-is-plum-ui-hover-background) {
  background-color: var(--line-plum-9);
}

:where(.line-is-plum-ui-active-background) {
  background-color: var(--line-plum-5);
}

:is(.dark) :where(.line-is-plum-ui-active-background) {
  background-color: var(--line-plum-8);
}

:where(.line-is-plum-subtle-element-background) {
  background-color: var(--line-plum-6);
}

:is(.dark) :where(.line-is-plum-subtle-element-background) {
  background-color: var(--line-plum-7);
}

:where(.line-is-plum-ui-element-background) {
  background-color: var(--line-plum-7);
}

:is(.dark) :where(.line-is-plum-ui-element-background) {
  background-color: var(--line-plum-6);
}

:where(.line-is-plum-ui-border-hover-background) {
  background-color: var(--line-plum-8);
}

:is(.dark) :where(.line-is-plum-ui-border-hover-background) {
  background-color: var(--line-plum-5);
}

:where(.line-is-plum-solid-background) {
  background-color: var(--line-plum-9);
}

:is(.dark) :where(.line-is-plum-solid-background) {
  background-color: var(--line-plum-4);
}

:where(.line-is-plum-hover-solid-background) {
  background-color: var(--line-plum-10);
}

:is(.dark) :where(.line-is-plum-hover-solid-background) {
  background-color: var(--line-plum-3);
}

:where(.line-is-plum-low-contrast-background) {
  background-color: var(--line-plum-11);
}

:is(.dark) :where(.line-is-plum-low-contrast-background) {
  background-color: var(--line-plum-2);
}

:where(.line-is-plum-high-contrast-background) {
  background-color: var(--line-plum-12);
}

:is(.dark) :where(.line-is-plum-high-contrast-background) {
  background-color: var(--line-plum-1);
}

:where(.line-is-plum-border) {
  outline-color: var(--line-plum-7);
  border-color: var(--line-plum-7);

  &:hover {
    outline-color: var(--line-plum-8);
    border-color: var(--line-plum-8);
  }
}

:is(.dark) :where(.line-is-plum-border) {
  outline-color: var(--line-plum-6);
  border-color: var(--line-plum-6);

  &:hover {
    outline-color: var(--line-plum-5);
    border-color: var(--line-plum-5);
  }
}
