:where(.line-schema-red) {
  --line-background: light-dark(var(--line-red-1), var(--line-red-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-red-2), var(--line-red-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-red-3), var(--line-red-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(var(--line-red-4), var(--line-red-9)); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-red-5),
    var(--line-red-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-red-6), var(--line-red-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-red-7), var(--line-red-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-red-8), var(--line-red-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-red-9), var(--line-red-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-red-10), var(--line-red-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-red-11), var(--line-red-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-red-12), var(--line-red-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-red-1), var(--line-red-12)); /* Light text */
  --line-white: var(--line-red-1); /* White text */
  --line-black: var(--line-red-12); /* Black text */
  --line-dark: light-dark(var(--line-red-12), var(--line-red-1)); /* Dark text */
  --line-solid-text: var(--line-red-contrast); /* Solid background text */
}

:where(.line-is-red) {
  color: var(--line-red-contrast);
  background-color: light-dark(var(--line-red-9), var(--line-red-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-red-10), var(--line-red-3));
  }
}

:where(.line-is-red-color) {
  color: light-dark(var(--line-red-12), var(--line-red-1));
}

:where(.line-is-red-low-contrast) {
  color: light-dark(var(--line-red-11), var(--line-red-2));
}

:where(.line-is-red-high-contrast) {
  color: light-dark(var(--line-red-12), var(--line-red-1));
}

:where(.line-is-red-background) {
  background-color: light-dark(var(--line-red-1), var(--line-red-12));
}

:where(.line-is-red-subtle-background) {
  background-color: light-dark(var(--line-red-2), var(--line-red-11));
}

:where(.line-is-red-ui-background) {
  background-color: light-dark(var(--line-red-3), var(--line-red-10));

  &:hover {
    background-color: light-dark(var(--line-red-4), var(--line-red-9));
  }
}

:where(.line-is-red-ui-hover-background) {
  background-color: light-dark(var(--line-red-4), var(--line-red-9));
}

:where(.line-is-red-ui-active-background) {
  background-color: light-dark(var(--line-red-5), var(--line-red-8));
}

:where(.line-is-red-subtle-element-background) {
  background-color: light-dark(var(--line-red-6), var(--line-red-7));
}

:where(.line-is-red-ui-element-background) {
  background-color: light-dark(var(--line-red-7), var(--line-red-6));
}

:where(.line-is-red-ui-border-hover-background) {
  background-color: light-dark(var(--line-red-8), var(--line-red-5));
}

:where(.line-is-red-solid-background) {
  background-color: light-dark(var(--line-red-9), var(--line-red-4));
}

:where(.line-is-red-hover-solid-background) {
  background-color: light-dark(var(--line-red-10), var(--line-red-3));
}

:where(.line-is-red-low-contrast-background) {
  background-color: light-dark(var(--line-red-11), var(--line-red-2));
}

:where(.line-is-red-high-contrast-background) {
  background-color: light-dark(var(--line-red-12), var(--line-red-1));
}

:where(.line-is-red-border) {
  outline-color: light-dark(var(--line-red-7), var(--line-red-6));
  border-color: light-dark(var(--line-red-7), var(--line-red-6));

  &:hover {
    outline-color: light-dark(var(--line-red-8), var(--line-red-5));
    border-color: light-dark(var(--line-red-8), var(--line-red-5));
  }
}
