:where(.line-schema-sage) {
  --line-background: var(--line-sage-1); /* App background (-1) */
  --line-subtle-background: var(--line-sage-2); /* Subtle background (-2) */
  --line-ui-background: var(--line-sage-3); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-sage-4); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-sage-5); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-sage-6); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-sage-7); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-sage-8); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-sage-9); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-sage-10); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-sage-11); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-sage-12); /* High-contrast text (-12) */
  --line-light: var(--line-sage-1); /* Light text */
  --line-white: var(--line-sage-1); /* White text */
  --line-black: var(--line-sage-12); /* Black text */
  --line-dark: var(--line-sage-12); /* Dark text */
  --line-solid-text: var(--line-sage-contrast); /* Solid background text */
}

:is(.dark) :where(.line-schema-sage) {
  --line-background: var(--line-sage-12); /* App background (-1) */
  --line-subtle-background: var(--line-sage-11); /* Subtle background (-2) */
  --line-ui-background: var(--line-sage-10); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-sage-9); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-sage-8); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-sage-7); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-sage-6); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-sage-5); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-sage-4); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-sage-3); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-sage-2); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-sage-1); /* High-contrast text (-12) */
  --line-solid-text: var(--line-sage-contrast); /* Solid background text */
}

:where(.line-is-sage) {
  color: var(--line-sage-contrast);
  background-color: var(--line-sage-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-sage-10);
  }
}

:is(.dark) :where(.line-is-sage) {
  color: var(--line-sage-contrast);
  background-color: var(--line-sage-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-sage-3);
  }
}

:where(.line-is-sage-color) {
  color: var(--line-sage-12);
}

:is(.dark) :where(.line-is-sage-color) {
  color: var(--line-sage-1);
}

:where(.line-is-sage-low-contrast) {
  color: var(--line-sage-11);
}

:is(.dark) :where(.line-is-sage-low-contrast) {
  color: var(--line-sage-2);
}

:where(.line-is-sage-high-contrast) {
  color: var(--line-sage-12);
}

:is(.dark) :where(.line-is-sage-high-contrast) {
  color: var(--line-sage-1);
}

:where(.line-is-sage-background) {
  background-color: var(--line-sage-1);
}

:is(.dark) :where(.line-is-sage-background) {
  background-color: var(--line-sage-12);
}

:where(.line-is-sage-subtle-background) {
  background-color: var(--line-sage-2);
}

:is(.dark) :where(.line-is-sage-subtle-background) {
  background-color: var(--line-sage-11);
}

:where(.line-is-sage-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-sage-3);

  &:hover {
    background-color: var(--line-sage-4);
  }
}

:is(.dark) :where(.line-is-sage-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-sage-10);

  &:hover {
    background-color: var(--line-sage-9);
  }
}

:where(.line-is-sage-ui-hover-background) {
  background-color: var(--line-sage-4);
}

:is(.dark) :where(.line-is-sage-ui-hover-background) {
  background-color: var(--line-sage-9);
}

:where(.line-is-sage-ui-active-background) {
  background-color: var(--line-sage-5);
}

:is(.dark) :where(.line-is-sage-ui-active-background) {
  background-color: var(--line-sage-8);
}

:where(.line-is-sage-subtle-element-background) {
  background-color: var(--line-sage-6);
}

:is(.dark) :where(.line-is-sage-subtle-element-background) {
  background-color: var(--line-sage-7);
}

:where(.line-is-sage-ui-element-background) {
  background-color: var(--line-sage-7);
}

:is(.dark) :where(.line-is-sage-ui-element-background) {
  background-color: var(--line-sage-6);
}

:where(.line-is-sage-ui-hover-background) {
  background-color: var(--line-sage-8);
}

:is(.dark) :where(.line-is-sage-ui-hover-background) {
  background-color: var(--line-sage-5);
}

:where(.line-is-sage-solid-background) {
  background-color: var(--line-sage-9);
}

:is(.dark) :where(.line-is-sage-solid-background) {
  background-color: var(--line-sage-4);
}

:where(.line-is-sage-hover-solid-background) {
  background-color: var(--line-sage-10);
}

:is(.dark) :where(.line-is-sage-hover-solid-background) {
  background-color: var(--line-sage-3);
}

:where(.line-is-sage-low-contrast-background) {
  background-color: var(--line-sage-11);
}

:is(.dark) :where(.line-is-sage-low-contrast-background) {
  background-color: var(--line-sage-2);
}

:where(.line-is-sage-high-contrast-background) {
  background-color: var(--line-sage-12);
}

:is(.dark) :where(.line-is-sage-high-contrast-background) {
  background-color: var(--line-sage-1);
}

:where(.line-is-sage-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-sage-7);
  border-color: var(--line-sage-7);

  &:hover {
    outline-color: var(--line-sage-8);
    border-color: var(--line-sage-8);
  }
}

:is(.dark) :where(.line-is-sage-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-sage-6);
  border-color: var(--line-sage-6);

  &:hover {
    outline-color: var(--line-sage-5);
    border-color: var(--line-sage-5);
  }
}
