:where(.line-schema-sky) {
  --line-background: light-dark(var(--line-sky-1), var(--line-sky-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-sky-2), var(--line-sky-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-sky-3), var(--line-sky-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(var(--line-sky-4), var(--line-sky-9)); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-sky-5),
    var(--line-sky-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-sky-6), var(--line-sky-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-sky-7), var(--line-sky-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-sky-8), var(--line-sky-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-sky-9), var(--line-sky-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-sky-10), var(--line-sky-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-sky-11), var(--line-sky-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-sky-12), var(--line-sky-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-sky-1), var(--line-sky-12)); /* Light text */
  --line-white: var(--line-sky-1); /* White text */
  --line-black: var(--line-sky-12); /* Black text */
  --line-dark: light-dark(var(--line-sky-12), var(--line-sky-1)); /* Dark text */
  --line-solid-text: var(--line-sky-contrast); /* Solid background text */
}

:where(.line-is-sky) {
  color: var(--line-sky-contrast);
  background-color: light-dark(var(--line-sky-9), var(--line-sky-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-sky-10), var(--line-sky-3));
  }
}

:where(.line-is-sky-color) {
  color: light-dark(var(--line-sky-12), var(--line-sky-1));
}

:where(.line-is-sky-low-contrast) {
  color: light-dark(var(--line-sky-11), var(--line-sky-2));
}

:where(.line-is-sky-high-contrast) {
  color: light-dark(var(--line-sky-12), var(--line-sky-1));
}

:where(.line-is-sky-background) {
  background-color: light-dark(var(--line-sky-1), var(--line-sky-12));
}

:where(.line-is-sky-subtle-background) {
  background-color: light-dark(var(--line-sky-2), var(--line-sky-11));
}

:where(.line-is-sky-ui-background) {
  background-color: light-dark(var(--line-sky-3), var(--line-sky-10));

  &:hover {
    background-color: light-dark(var(--line-sky-4), var(--line-sky-9));
  }
}

:where(.line-is-sky-ui-hover-background) {
  background-color: light-dark(var(--line-sky-4), var(--line-sky-9));
}

:where(.line-is-sky-ui-active-background) {
  background-color: light-dark(var(--line-sky-5), var(--line-sky-8));
}

:where(.line-is-sky-subtle-element-background) {
  background-color: light-dark(var(--line-sky-6), var(--line-sky-7));
}

:where(.line-is-sky-ui-element-background) {
  background-color: light-dark(var(--line-sky-7), var(--line-sky-6));
}

:where(.line-is-sky-ui-border-hover-background) {
  background-color: light-dark(var(--line-sky-8), var(--line-sky-5));
}

:where(.line-is-sky-solid-background) {
  background-color: light-dark(var(--line-sky-9), var(--line-sky-4));
}

:where(.line-is-sky-hover-solid-background) {
  background-color: light-dark(var(--line-sky-10), var(--line-sky-3));
}

:where(.line-is-sky-low-contrast-background) {
  background-color: light-dark(var(--line-sky-11), var(--line-sky-2));
}

:where(.line-is-sky-high-contrast-background) {
  background-color: light-dark(var(--line-sky-12), var(--line-sky-1));
}

:where(.line-is-sky-border) {
  outline-color: light-dark(var(--line-sky-7), var(--line-sky-6));
  border-color: light-dark(var(--line-sky-7), var(--line-sky-6));

  &:hover {
    outline-color: light-dark(var(--line-sky-8), var(--line-sky-5));
    border-color: light-dark(var(--line-sky-8), var(--line-sky-5));
  }
}
