:where(.line-schema-slate) {
  --line-background: light-dark(var(--line-slate-1), var(--line-slate-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-slate-2), var(--line-slate-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-slate-3), var(--line-slate-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(
    var(--line-slate-4),
    var(--line-slate-9)
  ); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-slate-5),
    var(--line-slate-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-slate-6), var(--line-slate-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-slate-7), var(--line-slate-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-slate-8), var(--line-slate-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-slate-9), var(--line-slate-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-slate-10), var(--line-slate-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-slate-11), var(--line-slate-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-slate-12), var(--line-slate-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-slate-1), var(--line-slate-12)); /* Light text */
  --line-white: var(--line-slate-1); /* White text */
  --line-black: var(--line-slate-12); /* Black text */
  --line-dark: light-dark(var(--line-slate-12), var(--line-slate-1)); /* Dark text */
  --line-solid-text: var(--line-slate-contrast); /* Solid background text */
}

:where(.line-is-slate) {
  color: var(--line-slate-contrast);
  background-color: light-dark(var(--line-slate-9), var(--line-slate-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-slate-10), var(--line-slate-3));
  }
}

:where(.line-is-slate-color) {
  color: light-dark(var(--line-slate-12), var(--line-slate-1));
}

:where(.line-is-slate-low-contrast) {
  color: light-dark(var(--line-slate-11), var(--line-slate-2));
}

:where(.line-is-slate-high-contrast) {
  color: light-dark(var(--line-slate-12), var(--line-slate-1));
}

:where(.line-is-slate-background) {
  background-color: light-dark(var(--line-slate-1), var(--line-slate-12));
}

:where(.line-is-slate-subtle-background) {
  background-color: light-dark(var(--line-slate-2), var(--line-slate-11));
}

:where(.line-is-slate-ui-background) {
  background-color: light-dark(var(--line-slate-3), var(--line-slate-10));

  &:hover {
    background-color: light-dark(var(--line-slate-4), var(--line-slate-9));
  }
}

:where(.line-is-slate-ui-hover-background) {
  background-color: light-dark(var(--line-slate-4), var(--line-slate-9));
}

:where(.line-is-slate-ui-active-background) {
  background-color: light-dark(var(--line-slate-5), var(--line-slate-8));
}

:where(.line-is-slate-subtle-element-background) {
  background-color: light-dark(var(--line-slate-6), var(--line-slate-7));
}

:where(.line-is-slate-ui-element-background) {
  background-color: light-dark(var(--line-slate-7), var(--line-slate-6));
}

:where(.line-is-slate-ui-border-hover-background) {
  background-color: light-dark(var(--line-slate-8), var(--line-slate-5));
}

:where(.line-is-slate-solid-background) {
  background-color: light-dark(var(--line-slate-9), var(--line-slate-4));
}

:where(.line-is-slate-hover-solid-background) {
  background-color: light-dark(var(--line-slate-10), var(--line-slate-3));
}

:where(.line-is-slate-low-contrast-background) {
  background-color: light-dark(var(--line-slate-11), var(--line-slate-2));
}

:where(.line-is-slate-high-contrast-background) {
  background-color: light-dark(var(--line-slate-12), var(--line-slate-1));
}

:where(.line-is-slate-border) {
  outline-color: light-dark(var(--line-slate-7), var(--line-slate-6));
  border-color: light-dark(var(--line-slate-7), var(--line-slate-6));

  &:hover {
    outline-color: light-dark(var(--line-slate-8), var(--line-slate-5));
    border-color: light-dark(var(--line-slate-8), var(--line-slate-5));
  }
}
