:where(.line-schema-teal) {
  --line-background: var(--line-teal-1); /* App background (-1) */
  --line-subtle-background: var(--line-teal-2); /* Subtle background (-2) */
  --line-ui-background: var(--line-teal-3); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-teal-4); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-teal-5); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-teal-6); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-teal-7); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-teal-8); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-teal-9); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-teal-10); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-teal-11); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-teal-12); /* High-contrast text (-12) */
  --line-light: var(--line-teal-1); /* Light text */
  --line-white: var(--line-teal-1); /* White text */
  --line-black: var(--line-teal-12); /* Black text */
  --line-dark: var(--line-teal-12); /* Dark text */
  --line-solid-text: var(--line-teal-contrast); /* Solid background text */
}

:is(.dark) :where(.line-schema-teal) {
  --line-background: var(--line-teal-12); /* App background (-1) */
  --line-subtle-background: var(--line-teal-11); /* Subtle background (-2) */
  --line-ui-background: var(--line-teal-10); /* UI element background (-3) */
  --line-ui-hover-background: var(--line-teal-9); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: var(--line-teal-8); /* Active / Selected UI element background (-5) */
  --line-subtle-border: var(--line-teal-7); /* Subtle borders and separators (-6) */
  --line-ui-border: var(--line-teal-6); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: var(--line-teal-5); /* Hovered UI element border (-8) */
  --line-solid-background: var(--line-teal-4); /* Solid backgrounds (-9) */
  --line-solid-hover: var(--line-teal-3); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: var(--line-teal-2); /* Low-contrast text (-11) */
  --line-high-contrast: var(--line-teal-1); /* High-contrast text (-12) */
  --line-light: var(--line-teal-12); /* Light text */
  --line-white: var(--line-teal-1); /* White text */
  --line-black: var(--line-teal-12); /* Black text */
  --line-dark: var(--line-teal-1); /* Dark text */
  --line-solid-text: var(--line-teal-contrast); /* Solid background text */
}

:where(.line-is-teal) {
  color: var(--line-teal-contrast);
  background-color: var(--line-teal-9);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-teal-10);
  }
}

:is(.dark) :where(.line-is-teal) {
  color: var(--line-teal-contrast);
  background-color: var(--line-teal-4);
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: var(--line-teal-3);
  }
}

:where(.line-is-teal-color) {
  color: var(--line-teal-12);
}

:is(.dark) :where(.line-is-teal-color) {
  color: var(--line-teal-1);
}

:where(.line-is-teal-low-contrast) {
  color: var(--line-teal-11);
}

:is(.dark) :where(.line-is-teal-low-contrast) {
  color: var(--line-teal-2);
}

:where(.line-is-teal-high-contrast) {
  color: var(--line-teal-12);
}

:is(.dark) :where(.line-is-teal-high-contrast) {
  color: var(--line-teal-1);
}

:where(.line-is-teal-background) {
  background-color: var(--line-teal-1);
}

:is(.dark) :where(.line-is-teal-background) {
  background-color: var(--line-teal-12);
}

:where(.line-is-teal-subtle-background) {
  background-color: var(--line-teal-2);
}

:is(.dark) :where(.line-is-teal-subtle-background) {
  background-color: var(--line-teal-11);
}

:where(.line-is-teal-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-teal-3);

  &:hover {
    background-color: var(--line-teal-4);
  }
}

:is(.dark) :where(.line-is-teal-ui-background) {
  transition: colors ease-in-out 150ms;
  background-color: var(--line-teal-10);

  &:hover {
    background-color: var(--line-teal-9);
  }
}

:where(.line-is-teal-ui-hover-background) {
  background-color: var(--line-teal-4);
}

:is(.dark) :where(.line-is-teal-ui-hover-background) {
  background-color: var(--line-teal-9);
}

:where(.line-is-teal-ui-active-background) {
  background-color: var(--line-teal-5);
}

:is(.dark) :where(.line-is-teal-ui-active-background) {
  background-color: var(--line-teal-8);
}

:where(.line-is-teal-subtle-element-background) {
  background-color: var(--line-teal-6);
}

:is(.dark) :where(.line-is-teal-subtle-element-background) {
  background-color: var(--line-teal-7);
}

:where(.line-is-teal-ui-element-background) {
  background-color: var(--line-teal-7);
}

:is(.dark) :where(.line-is-teal-ui-element-background) {
  background-color: var(--line-teal-6);
}

:where(.line-is-teal-ui-hover-background) {
  background-color: var(--line-teal-8);
}

:is(.dark) :where(.line-is-teal-ui-hover-background) {
  background-color: var(--line-teal-5);
}

:where(.line-is-teal-solid-background) {
  background-color: var(--line-teal-9);
}

:is(.dark) :where(.line-is-teal-solid-background) {
  background-color: var(--line-teal-4);
}

:where(.line-is-teal-hover-solid-background) {
  background-color: var(--line-teal-10);
}

:is(.dark) :where(.line-is-teal-hover-solid-background) {
  background-color: var(--line-teal-3);
}

:where(.line-is-teal-low-contrast-background) {
  background-color: var(--line-teal-11);
}

:is(.dark) :where(.line-is-teal-low-contrast-background) {
  background-color: var(--line-teal-2);
}

:where(.line-is-teal-high-contrast-background) {
  background-color: var(--line-teal-12);
}

:is(.dark) :where(.line-is-teal-high-contrast-background) {
  background-color: var(--line-teal-1);
}

:where(.line-is-teal-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-teal-7);
  border-color: var(--line-teal-7);

  &:hover {
    outline-color: var(--line-teal-8);
    border-color: var(--line-teal-8);
  }
}

:is(.dark) :where(.line-is-teal-border) {
  transition: colors ease-in-out 150ms;
  outline-color: var(--line-teal-6);
  border-color: var(--line-teal-6);

  &:hover {
    outline-color: var(--line-teal-5);
    border-color: var(--line-teal-5);
  }
}
