:where(.line-schema-tomato) {
  --line-background: light-dark(var(--line-tomato-1), var(--line-tomato-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-tomato-2), var(--line-tomato-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-tomato-3), var(--line-tomato-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(
    var(--line-tomato-4),
    var(--line-tomato-9)
  ); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-tomato-5),
    var(--line-tomato-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-tomato-6), var(--line-tomato-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-tomato-7), var(--line-tomato-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-tomato-8), var(--line-tomato-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-tomato-9), var(--line-tomato-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-tomato-10), var(--line-tomato-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-tomato-11), var(--line-tomato-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-tomato-12), var(--line-tomato-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-tomato-1), var(--line-tomato-12)); /* Light text */
  --line-white: var(--line-tomato-1); /* White text */
  --line-black: var(--line-tomato-12); /* Black text */
  --line-dark: light-dark(var(--line-tomato-12), var(--line-tomato-1)); /* Dark text */
  --line-solid-text: var(--line-tomato-contrast); /* Solid background text */
}

:where(.line-is-tomato) {
  color: var(--line-tomato-contrast);
  background-color: light-dark(var(--line-tomato-9), var(--line-tomato-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-tomato-10), var(--line-tomato-3));
  }
}

:where(.line-is-tomato-color) {
  color: light-dark(var(--line-tomato-12), var(--line-tomato-1));
}

:where(.line-is-tomato-low-contrast) {
  color: light-dark(var(--line-tomato-11), var(--line-tomato-2));
}

:where(.line-is-tomato-high-contrast) {
  color: light-dark(var(--line-tomato-12), var(--line-tomato-1));
}

:where(.line-is-tomato-background) {
  background-color: light-dark(var(--line-tomato-1), var(--line-tomato-12));
}

:where(.line-is-tomato-subtle-background) {
  background-color: light-dark(var(--line-tomato-2), var(--line-tomato-11));
}

:where(.line-is-tomato-ui-background) {
  background-color: light-dark(var(--line-tomato-3), var(--line-tomato-10));

  &:hover {
    background-color: light-dark(var(--line-tomato-4), var(--line-tomato-9));
  }
}

:where(.line-is-tomato-ui-hover-background) {
  background-color: light-dark(var(--line-tomato-4), var(--line-tomato-9));
}

:where(.line-is-tomato-ui-active-background) {
  background-color: light-dark(var(--line-tomato-5), var(--line-tomato-8));
}

:where(.line-is-tomato-subtle-element-background) {
  background-color: light-dark(var(--line-tomato-6), var(--line-tomato-7));
}

:where(.line-is-tomato-ui-element-background) {
  background-color: light-dark(var(--line-tomato-7), var(--line-tomato-6));
}

:where(.line-is-tomato-ui-border-hover-background) {
  background-color: light-dark(var(--line-tomato-8), var(--line-tomato-5));
}

:where(.line-is-tomato-solid-background) {
  background-color: light-dark(var(--line-tomato-9), var(--line-tomato-4));
}

:where(.line-is-tomato-hover-solid-background) {
  background-color: light-dark(var(--line-tomato-10), var(--line-tomato-3));
}

:where(.line-is-tomato-low-contrast-background) {
  background-color: light-dark(var(--line-tomato-11), var(--line-tomato-2));
}

:where(.line-is-tomato-high-contrast-background) {
  background-color: light-dark(var(--line-tomato-12), var(--line-tomato-1));
}

:where(.line-is-tomato-border) {
  outline-color: light-dark(var(--line-tomato-7), var(--line-tomato-6));
  border-color: light-dark(var(--line-tomato-7), var(--line-tomato-6));

  &:hover {
    outline-color: light-dark(var(--line-tomato-8), var(--line-tomato-5));
    border-color: light-dark(var(--line-tomato-8), var(--line-tomato-5));
  }
}
