:where(.line-schema-violet) {
  --line-background: light-dark(var(--line-violet-1), var(--line-violet-12)); /* App background (-1) */
  --line-subtle-background: light-dark(var(--line-violet-2), var(--line-violet-11)); /* Subtle background (-2) */
  --line-ui-background: light-dark(var(--line-violet-3), var(--line-violet-10)); /* UI element background (-3) */
  --line-ui-hover-background: light-dark(
    var(--line-violet-4),
    var(--line-violet-9)
  ); /* Hovered UI element background  (-4)*/
  --line-ui-active-background: light-dark(
    var(--line-violet-5),
    var(--line-violet-8)
  ); /* Active / Selected UI element background (-5) */
  --line-subtle-border: light-dark(var(--line-violet-6), var(--line-violet-7)); /* Subtle borders and separators (-6) */
  --line-ui-border: light-dark(var(--line-violet-7), var(--line-violet-6)); /* UI element border and focus rings (-7) */
  --line-ui-border-hover: light-dark(var(--line-violet-8), var(--line-violet-5)); /* Hovered UI element border (-8) */
  --line-solid-background: light-dark(var(--line-violet-9), var(--line-violet-4)); /* Solid backgrounds (-9) */
  --line-solid-hover: light-dark(var(--line-violet-10), var(--line-violet-3)); /* Hovered solid backgrounds (-10) */
  --line-low-contrast: light-dark(var(--line-violet-11), var(--line-violet-2)); /* Low-contrast text (-11) */
  --line-high-contrast: light-dark(var(--line-violet-12), var(--line-violet-1)); /* High-contrast text (-12) */
  --line-light: light-dark(var(--line-violet-1), var(--line-violet-12)); /* Light text */
  --line-white: var(--line-violet-1); /* White text */
  --line-black: var(--line-violet-12); /* Black text */
  --line-dark: light-dark(var(--line-violet-12), var(--line-violet-1)); /* Dark text */
  --line-solid-text: var(--line-violet-contrast); /* Solid background text */
}

:where(.line-is-violet) {
  color: var(--line-violet-contrast);
  background-color: light-dark(var(--line-violet-9), var(--line-violet-4));
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: light-dark(var(--line-violet-10), var(--line-violet-3));
  }
}

:where(.line-is-violet-color) {
  color: light-dark(var(--line-violet-12), var(--line-violet-1));
}

:where(.line-is-violet-low-contrast) {
  color: light-dark(var(--line-violet-11), var(--line-violet-2));
}

:where(.line-is-violet-high-contrast) {
  color: light-dark(var(--line-violet-12), var(--line-violet-1));
}

:where(.line-is-violet-background) {
  background-color: light-dark(var(--line-violet-1), var(--line-violet-12));
}

:where(.line-is-violet-subtle-background) {
  background-color: light-dark(var(--line-violet-2), var(--line-violet-11));
}

:where(.line-is-violet-ui-background) {
  background-color: light-dark(var(--line-violet-3), var(--line-violet-10));

  &:hover {
    background-color: light-dark(var(--line-violet-4), var(--line-violet-9));
  }
}

:where(.line-is-violet-ui-hover-background) {
  background-color: light-dark(var(--line-violet-4), var(--line-violet-9));
}

:where(.line-is-violet-ui-active-background) {
  background-color: light-dark(var(--line-violet-5), var(--line-violet-8));
}

:where(.line-is-violet-subtle-element-background) {
  background-color: light-dark(var(--line-violet-6), var(--line-violet-7));
}

:where(.line-is-violet-ui-element-background) {
  background-color: light-dark(var(--line-violet-7), var(--line-violet-6));
}

:where(.line-is-violet-ui-border-hover-background) {
  background-color: light-dark(var(--line-violet-8), var(--line-violet-5));
}

:where(.line-is-violet-solid-background) {
  background-color: light-dark(var(--line-violet-9), var(--line-violet-4));
}

:where(.line-is-violet-hover-solid-background) {
  background-color: light-dark(var(--line-violet-10), var(--line-violet-3));
}

:where(.line-is-violet-low-contrast-background) {
  background-color: light-dark(var(--line-violet-11), var(--line-violet-2));
}

:where(.line-is-violet-high-contrast-background) {
  background-color: light-dark(var(--line-violet-12), var(--line-violet-1));
}

:where(.line-is-violet-border) {
  outline-color: light-dark(var(--line-violet-7), var(--line-violet-6));
  border-color: light-dark(var(--line-violet-7), var(--line-violet-6));

  &:hover {
    outline-color: light-dark(var(--line-violet-8), var(--line-violet-5));
    border-color: light-dark(var(--line-violet-8), var(--line-violet-5));
  }
}
