/* ═══════════════════════════════════════════════════════════
   highlights.css — line://ui Highlight Tokens

   3 highlight tokens: base (2) + composite (1).

   Explicitly defined within the line://ui token system.
   ═══════════════════════════════════════════════════════════ */

:where(html) {
  /* ── Highlight ── */

  --line-highlight-size: 10px;
  --line-highlight-color: hsl(0 0% 0% / 20%);

  --line-highlight: 0 0 0 var(--line-highlight-size) var(--line-highlight-color);

  @media (--OSdark) {
    --line-highlight-color: hsl(0 0% 100% / 20%);
  }
}
