.ui-scale-blue {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--line-blue-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--line-blue-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--line-blue-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--line-blue-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--line-blue-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--line-blue-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--line-blue-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--line-blue-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--line-blue-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--line-blue-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--line-blue-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--line-blue-12);
    box-shadow: var(--shadow-3);
  }
}
