.ui-scale-sage {
  :nth-child(1) {
    display: flex;
    align-items: center;
  }

  :nth-child(2) {
    background: var(--line-sage-1);
    box-shadow: var(--shadow-3);
  }

  :nth-child(3) {
    background: var(--line-sage-2);
    box-shadow: var(--shadow-3);
  }

  :nth-child(4) {
    background: var(--line-sage-3);
    box-shadow: var(--shadow-3);
  }

  :nth-child(5) {
    background: var(--line-sage-4);
    box-shadow: var(--shadow-3);
  }

  :nth-child(6) {
    background: var(--line-sage-5);
    box-shadow: var(--shadow-3);
  }

  :nth-child(7) {
    background: var(--line-sage-6);
    box-shadow: var(--shadow-3);
  }

  :nth-child(8) {
    background: var(--line-sage-7);
    box-shadow: var(--shadow-3);
  }

  :nth-child(9) {
    background: var(--line-sage-8);
    box-shadow: var(--shadow-3);
  }

  :nth-child(10) {
    background: var(--line-sage-9);
    box-shadow: var(--shadow-3);
  }

  :nth-child(11) {
    background: var(--line-sage-10);
    box-shadow: var(--shadow-3);
  }

  :nth-child(12) {
    background: var(--line-sage-11);
    box-shadow: var(--shadow-3);
  }

  :nth-child(13) {
    background: var(--line-sage-12);
    box-shadow: var(--shadow-3);
  }
}
